<!-- Login 3 - Bootstrap Brain Component -->
<section class="p-3 p-md-4 p-xl-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 bsb-tpl-bg-platinum">
        <div
          class="d-flex flex-column justify-content-between h-100 p-3 p-md-4 p-xl-5"
        >
          <h3 class="m-0">Welcome!</h3>
          <img
            class="img-fluid rounded mx-auto my-4"
            loading="lazy"
            src="assets/imgs/Login.jpg"
            alt="BootstrapBrain Logo"
          />
          <p class="mb-0">
            Already have an account
            <a
              [routerLink]="'/auth/login'"
              class="link-secondary text-decoration-none"
              >Login now</a
            >
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 bsb-tpl-bg-lotion">
        <div class="p-3 p-md-4 p-xl-5">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h3>Register</h3>
              </div>
            </div>
          </div>
          <form action="#!" [formGroup]="form">
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="name" class="form-label"
                  >Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  placeholder="Enter your name"
                  [formControlName]="'name'"
                  required
                />
              </div>
              <div class="col-12">
                <label for="phone" class="form-label"
                  >Phone <span class="text-danger">*</span></label
                >
                <input
                  type="tel"
                  class="form-control"
                  name="phone"
                  id="phone"
                  placeholder="Enter your phone number"
                  [formControlName]="'phone'"
                  required
                />
              </div>
              <div class="col-12">
                <label for="gender" class="form-label"
                  >Gender <span class="text-danger">*</span></label
                >
                <select
                  class="form-control"
                  name="gender"
                  id="gender"
                  [formControlName]="'gender'"
                  required
                >
                  <option value="" disabled selected>Select your gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="col-12">
                <label for="email" class="form-label"
                  >Email <span class="text-danger">*</span></label
                >
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="name@example.com"
                  [formControlName]="'email'"
                  required
                />
              </div>
              <div class="col-12">
                <label for="password" class="form-label"
                  >Password <span class="text-danger">*</span></label
                >
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder="Enter your password"
                  [formControlName]="'password'"
                  required
                />
              </div>
              <div class="col-12">
                <label for="repeatedPassword" class="form-label"
                  >Repeat Password <span class="text-danger">*</span></label
                >
                <input
                  type="password"
                  class="form-control"
                  name="repeatedPassword"
                  id="repeatedPassword"
                  placeholder="Repeat your password"
                  [formControlName]="'repeatedPassword'"
                  required
                />
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button
                    class="btn bsb-btn-xl btn-primary"
                    [disabled]="!form.valid"
                    (click)="register()"
                  >
                    Register now
                  </button>
                </div>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-12">
              <hr class="mt-5 mb-4 border-secondary-subtle" />
              <div class="text-end">
                <a href="#!" class="link-secondary text-decoration-none"
                  >Forgot password</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
