<!-- <ul>
    @for (book of books; track book) {
    <li> 
        <h3>{{ book.id }}</h3>
        <span>{{ book.title }}</span>
        <span>{{ book.author }}</span>
        <span>{{ book.genre }}</span>
        <span>{{ book.price }}</span>
        <span>{{ book.description }}</span>
        <span>{{ book.img }}</span>
    </li>
      }
</ul> -->

  <table class="table table-hover">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Price</th>
    </tr>
    @for (book of books; track book) {
    <tr>
      <td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.price }}</td>
    </tr>
    }
  </table>
